.cdk-overlay-pane{
    display: flex;
    max-width: 600px;
}
input{
    font-size: 20px;
}

.mat-error{
    font-size:20px;
}
.form-size{
    width: 300px;
    height: 150px;
}
.mat-form-field{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px !important;
}