<mat-toolbar>
    <span>{{service.form.controls['$key'].value?"Edit Device":"New Device"}}</span>
    <!-- <span class="fill-remaining-space"></span> -->
    <!-- <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button> -->
  </mat-toolbar>

    <form [formGroup]="service.form" class="normal-form form-size" (submit)="onSubmit()">

            <input type="hidden" formControlName="$key">
            <mat-form-field>
                <input formControlName="deviceName" matInput placeholder="Device name*">
                <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>

            <mat-dialog-actions>
                <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </mat-dialog-actions>
    </form>
