a, p,h2, h3,h4{
    font-family: 'Yusei Magic', sans-serif;
}
body{
    background-color: #f5f8fd;
    margin-top: 30px;
}
.mat-elevation-z9{
    width: 300px;
    justify-content:center;
    margin-right: 0;
}
.ei{
    /* width: 300px; */
    justify-content:center;
    margin-right: 0;
    display:flex;
    align-items: stretch;
}
/* mat-cell{
    flex: flex !important;
} */
mat-cell, mat-header-cell, mat-footer-cell{
    display: flex !important;
    flex: none !important;
}
.flex {
display: flex;
}
.flex-row {
flex-direction: row;
}
.flex-nowrap {
flex-wrap: nowrap;
}
.items-stretch {
align-items: stretch;
}
.flex-column {
flex-direction: column;
}
.justify-center {
justify-content: center;
}
.mat-cell, .mat-header-cell{
    font-size: 18px;
    font-family: 'Yusei Magic', sans-serif;
}
.mat-column-deviceName{
    width: 500px !important;
    align-items: center;
    display:flex;
    align-items: stretch;
    margin-top: 20px;
}
button{
    /* width: 100px; */
    background-color: white;
    padding: 10px;
    font-family: 'Yusei Magic', sans-serif;
}
.btn-outline-own{color:#4e9e95;border-color:#5dbbb0; border-width: 3px; font-weight: bold; font-size: 20px;}
.btn-outline-own:hover{color:#4C5E6B;background-color:#ffcb91;border-color:#ffcb91}
