<html>
<head>
    <meta charset="utf-8">
    <title>Adding Devices</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Corben&family=Yusei+Magic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="site">
        <div class="flex flex-column flex-nowrap items-stretch justify-center">
            <div class="flex justify-center" style="margin-top: 20px;">
            <button mat-raised-button (click) = "openDialog()" class="btn-outline-own">
                <mat-icon>add</mat-icon> Create </button>
            </div>
            <div class="ei" style="margin-top: 20px;">
                <mat-table [dataSource]="listData"  matSort>

                <ng-container matColumnDef="deviceName">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header>device name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.deviceName}}</mat-cell>
                </ng-container>

                
                <ng-container matColumnDef="action">
                    
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <!-- <div style="justify-content: center !important;"> -->
                        <button mat-icon-button (click) =OnEdit(row)><mat-icon>launch</mat-icon></button>
                        <button mat-icon-button color="warn"(click) =onDelete(row.$key)><mat-icon>delete_outline</mat-icon></button>
                    <!-- </div> -->
                    </mat-cell>
                    
                </ng-container>
                

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                    </mat-footer-cell>
                </ng-container>
                

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>

            </div>
        </div>
    </div>
</body>
</html>