h1{
  font-size: 4rem; 
  font-weight: bolder;
  color:#A1A884;
  margin-top: 0%;
  font-family: 'Corben', cursive;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em  #ebddbc,0 0 0.6em #f1d691, 0 0 0.8em  #f1d691, 0 0 1.0em #f1d691, 0 0 1.2em #f1d691;
}
.head-style{
  /* font-family: 'Corben', cursive; */
  font-weight: bolder;
  font-size: 5rem;
  color: #2C506B;
}
.app-bord{
  background-color:#EAEFF9;
  color: #4C5E6B;
  border-radius: 10px;
  padding: 5px;
  margin-top:5px;
}
tr{
  padding: 5px;
}
.ng-star-inserted{
  margin: 5px;
}
ng-if{
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color:#EAEFF9;
  color: #4C5E6B;
}
h2{
font-size: 2rem; 
color:#51573A;
margin-top: 0%;
text-align: center;
}
h3{
font-size: 1.5rem; 
color:#51573A;
margin-top: 0%;
text-align: center;
}
a, p,h2, h3,h4{
font-family: 'Yusei Magic', sans-serif;
}
body{
  background-color: #f5f8fd;
  margin-top: 5px;
}
a{
  border-color: #A1A884; 
  margin: 10px;
}
.mat-calendar-body-selected{
  background-color: #ffcb91 !important;
  background: tomato;
}
.mat-calendar-body-cell-content.mat-calendar-body-selected{
  background-color: tomato  !important;
}
.header{
  display: block;
}
.inline{
  display: inline-block;
}
.timer-style{
  font-size: 50px;
  color: #767c5f;
}
.timer{
  margin-left: 3%;
  padding-right: 3%;
  border-right: rgb(102, 102, 102);
  border-right-style: solid;
}
.app-color{
  color: #366488;
}
.keema-color{
  color: #2C506B;
}
.topic{
  margin-left: 4%;
}
.site{
  position: relative;
}
p{
    color: #4C5E6B; 
    /* background-color: #ecdaac; */
    font-size: 1.3rem; 
    font-weight: 5px;
    padding-bottom: 0;
    margin: 0;
}
label{
color: black;
}

input[type=checkbox] {
transform: scale(2);
margin: 10px;
cursor: pointer;
filter: hue-rotate(210deg)
}
.text-color{
  color: #366488;
}
.summary-size{
  font-size: 22px;
}
.text-colorless{
  color: #A1A884;
}
.row {  
display: flex;
flex-wrap: wrap;
}
.sumtext{
margin-top: 5em;
}
.col{
border-color: #767c5f;;
background-color: #ecdaac;
/* width: auto; */
border-style: solid;
margin: 5px;
/* padding: 10px; */
height: 90px;
width: 140px;

}
.col-1{
height: 0.5em;
}
.container{
font-size: 20px;
}
.status-text{
  color: black;
}
a{
  margin: 0;
}
.app-status{
  background-color: #6ee4d6;
  color: black;
  font-size: 1.4rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  padding-left: 20px;
}
.app-status-chart{
  background-color: #6ee4d6;
  color: black;
  font-size: 1.4rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  padding-left: 20px;
}
.vert-line{
  border-right: rgba(182, 182, 182, 0.5);
  border-width: 2px;
  border-right-style: solid;
  margin-right: 10px;
  padding-right: 10px;
}

.container-pie{
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.8);
/* box-shadow: 8px 10px 11px gray; */
height: 450px;
width: 800px;
display: flex;
flex-wrap: wrap;
}
.container-summary{
  border-radius: 20px;
  background-color: rgba(255, 255, 255,0.8);
  /* box-shadow: 8px 10px 11px gray; */
  height: 390px;
  width: 800px;
  margin-left: 30px;
  justify-content: center;
  display: grid;
  flex-wrap: wrap;
  }
.container-other{
border-radius: 20px;
background-color: rgba(255, 255, 255,0.8);
/* box-shadow: 8px 10px 11px gray; */
height: 150px;
width: 320px;
margin-left: 20px;
display: grid;
flex-wrap: wrap;
}
.container-app{
  border-radius: 20px;
  background-color: rgba(255, 255, 255,0.8);
  height: 270px;
  width: 430px;
  margin-left: 20px;
  /* margin-right: 0px; */
  display: grid;
  flex-wrap: wrap;
}
.container-ly{
  border-radius: 20px;
  background-color: rgba(255, 255, 255,0.8);
  height: 400px;
  width: 390px;
  /* padding: 15px; */
}

.flex {
display: flex;
}
.flex-row {
flex-direction: row;
}
.flex-nowrap {
flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
  }
.items-stretch {
align-items: stretch;
}
.flex-column {
flex-direction: column;
}
.bord {
border-radius: 20px;
}
.bord-left {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.bord-right {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.bord-butt{
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.bord-top{
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.rt-color{
/* background-color: thistle; */
}
.icon-color{
color: #111;
}
title-color{
color: #A1A884;
}
.bg-icon{
background-color: #A1A884;
}
.pad-icon {
padding: 1rem;
}
.items-center {
align-items: center;
}
.justify-center {
justify-content: center;
}
.justify-right {
justify-content: right;
}
.justify-end {
  justify-content: end;
  }
.icon-color{
color: white;
}
.pie-fsize{
  font-size: 15px;
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
.tm-section-2 {
  /* background: #A1A884;  */
  padding-top: 50px; 
  padding-bottom: 10px; 
  position: relative;
}
.text-center{
  text-align:center!important
}
.main_graph{
  display: block;
  margin: 0 auto;
  width: 500px; 
  height: 30%;
}
.form_style{
  margin-right: 10px;
  padding-right: 20px;
  margin-left: 10px;
}
.btn btn-primary{
  margin-top: 3%;
  color: black;
}
.btn-outline-own{color:#4e9e95;border-color:#5dbbb0; border-width: 3px; font-weight: bold; font-size: 20px;}
.btn-outline-own:hover{color:#4C5E6B;background-color:#ffcb91;border-color:#ffcb91}
.btn-outline-own.focus,.btn-outline-own:focus{box-shadow:0 0 0 .2rem #A1A884}
.btn-outline-own.disabled,.btn-outline-own:disabled{color:#EFCD76;background-color:transparent}
