<html>
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Corben&family=Yusei+Magic&display=swap" rel="stylesheet">
  </head>

<body>


<div class="site">
  <div class="header">
    <div class="inline timer" style="justify-content: center;">
      <p class="keema-color">{{today | date:'EEEE'}}</p>
      <p style="color: #4C5E6B;">{{today | date:'d MMMM y'}}</p>
      <p class="keema-color"> {{today | date : 'shortTime'}}</p>
    </div>
    <div class="inline topic">
      <span class="head-style"> Real-time </span>
    </div>
  </div>
</div>
<div class="site">
  <div class="flex flex-row flex-nowrap items-stretch justify-center">
  <!-- ฝั่งซ้ายทั้งหมด -->
  <div class="flex flex-column flex-nowrap items-stretch justify-start" style="margin-top: 10px; margin-left: 10px;">
    <div class="container-pie">
      <!-- พายทั้งหมด -->
      <div class="flex flex-column flex-nowrap items-stretch bord justify-start">

      <div>
        <p class="app-status-chart" style="width: 800px;"> Power usage</p>
      </div>

      <div *ngIf="showpie ; else notShowpie">

        <div class="flex flex-row items-center justify-center">
          <div style="padding: 10px; padding-top: 0;">
              <canvas id="pieChart" style="height: 350px; margin-top: 10px; width: 500px;"></canvas>
          </div>
          <!-- รายละเอียด -->
          <div class="flex flex-row items-center justify-center" style="margin-top: 20px; width: 300px;">
            <div class="flex flex-column justify-right">
              <ng-container *ngFor="let p of device_pie[0]; index as i ">
              <!-- เอาไว้ใส่เลขข้าง ๆ -->
              <p class="text-color pie-fsize">{{device_name[i]}}: {{p}} W</p>
              <!-- <p class="text-color pie-fsize">Iron: {{ iron }} W</p> -->
              </ng-container>
            </div>
          </div>
        </div>

      </div>

    <ng-template #notShowpie>
        <div class="flex flex-column flex-nowrap items-stretch justify-center items-center" style="margin-top: 80px;">
          <svg id="Layer_1" enable-background="new 0 0 512.337 512.337" height="100" fill="currentColor" class="app-color" viewBox="0 0 512.337 512.337" width="100" xmlns="http://www.w3.org/2000/svg"><path d="m271.663 281.499-37.345 37.346-40.826-40.826 37.345-37.346 4.48-22.947-17.858-17.857-22.947 4.48-37.345 37.345-13.27-13.27-27.914 27.913 10.607 10.606 17.307-17.307 118.803 118.805-71.978 71.977-54.48-2.487-61.836-61.831-2.487-54.486 44.071-44.07-10.607-10.606-48.749 48.75 2.952 64.702-40.438 40.439 30.877 30.877-50.025 50.024 10.607 10.606 50.024-50.024 30.863 30.863 40.426-40.426 64.73 2.954 87.263-87.263-13.271-13.271 37.345-37.346 4.48-22.947-17.858-17.857zm-69.782-63.305 10.617-2.073 6.567 6.567-2.072 10.617-34.108 34.107-15.112-15.112zm-161.521 202.634 9.087-9.087 51.134 51.135-9.087 9.087zm70.828 31.441-51.134-51.135 9.087-9.087 51.135 51.134zm182.956-141.813-34.108 34.107-15.112-15.112 34.108-34.108 10.616-2.072 6.567 6.567z"/><path d="m461.708 61.236 50.629-50.629-10.608-10.606-50.628 50.628-30.863-30.863-40.426 40.426-64.73-2.954-87.263 87.262 140.016 140.016 33.254-33.241-10.605-10.608-22.646 22.639-118.806-118.806 71.978-71.977 54.48 2.487 61.837 61.837 2.486 54.479-38.731 38.73 10.607 10.606 43.409-43.41-2.952-64.701 40.439-40.439zm9.664 30.877-9.087 9.087-51.134-51.135 9.087-9.087zm-70.828-31.441 51.134 51.135-9.087 9.087-51.134-51.134z"/><path d="m186.469 429.434-42.659-1.942.682-14.984 36.05 1.642 8.583-8.583 10.607 10.606zm23.868-23.869-10.605-10.606 10.607-10.607 10.605 10.606zm21.215-21.213-10.607-10.606 10.606-10.606 10.607 10.606z"/></svg>
          <p>no appliance use for today</p>
        </div>
    </ng-template>

    </div>
       
    </div>

    <div style="margin-top: 25px; justify-content: center;">
       <p>Select date for pattern:
        <mat-form-field appearance="legacy" style="width: 250px">

          <mat-label>Choose Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
            <input matStartDate formControlName="start" placeholder="Start Date">
            <input matEndDate formControlName="end" placeholder="End Date">
          </mat-date-range-input>
    
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        
          <mat-date-range-picker #picker style="background-color: red;"></mat-date-range-picker>
        
        </mat-form-field>
      &#160;
      <button (click)="sendDate()" class="btn-outline-own"> Select </button>

    </p>
    
 
    </div>

    <div class="flex flex-row  flex-nowrap items-stretch justify-center" style="margin-top: 15px;">
      <div class="container-ly">
        <div class="flex flex-column flex-nowrap items-stretch bord justify-start">
        <div>
          <p class="app-status-chart" style="width: 390px;"> Daily Pattern</p>
        </div>
        <div style="padding: 5px; height: 310px !important; margin-top: 20px;">
          <canvas id="weekChart"></canvas>
        </div>
      </div>
      </div>
      <div class="container-ly" style="margin-left: 10px;">
        <div class="flex flex-column flex-nowrap items-stretch bord justify-start">
        <div>
          <p class="app-status-chart" style="width: 390px;"> Monthly Pattern</p>
        </div>
          <div style="padding: 5px; height: 310px !important; margin-top: 20px;">
          <canvas id="monthChart"></canvas>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="flex flex-column flex-nowrap items-stretch" style="margin-left: 10px; margin-top: 100px; width: 450px">
    <div class="container-app">
      <div class="flex flex-column flex-nowrap items-stretch bord justify-start">
        <div class="flex flex-row app-status">
          <!-- <div class="flex flex-column"> -->
          <p class="status-text" style="margin-top: 5px;"> 
            Appliance Status
          </p>
        <!-- </div> -->
          <div class="justify-end" style="margin-left: 200px">
          <a class="nav-link" href="/setting" mat-icon-button>
            <mat-icon>settings</mat-icon>
          </a>
        </div>
        </div>
        <div class="flex flex-column flex-nowrap items-stretch justify-start">
          <p style="margin-left:10px;">Power at: {{status[lastcheckin]}}</p>
        </div>

        <!-- <div *ngIf="showstatus ; else notShowstatus"> -->
        <div *ngIf="showstatus; else notShowstatus">
        <div class="flex flex-row flex-wrap items-stretch justify-center" style="margin-top: 5px;">
        <ng-container *ngFor="let a of status; index as i ">
          <ng-if *ngIf ="i >= 1">
            <tr>{{ device_name[i-1] }}</tr>
            <tr>{{ status[i] }} W</tr> 
          </ng-if>
        </ng-container>
        </div>
        </div> 

      <ng-template #notShowstatus>
          <div class="flex flex-column flex-nowrap items-stretch justify-center items-center" style="margin-top: 50px;">
            <svg id="Layer_1" enable-background="new 0 0 512.337 512.337" height="50" fill="currentColor" class="app-color" viewBox="0 0 512.337 512.337" width="100" xmlns="http://www.w3.org/2000/svg"><path d="m271.663 281.499-37.345 37.346-40.826-40.826 37.345-37.346 4.48-22.947-17.858-17.857-22.947 4.48-37.345 37.345-13.27-13.27-27.914 27.913 10.607 10.606 17.307-17.307 118.803 118.805-71.978 71.977-54.48-2.487-61.836-61.831-2.487-54.486 44.071-44.07-10.607-10.606-48.749 48.75 2.952 64.702-40.438 40.439 30.877 30.877-50.025 50.024 10.607 10.606 50.024-50.024 30.863 30.863 40.426-40.426 64.73 2.954 87.263-87.263-13.271-13.271 37.345-37.346 4.48-22.947-17.858-17.857zm-69.782-63.305 10.617-2.073 6.567 6.567-2.072 10.617-34.108 34.107-15.112-15.112zm-161.521 202.634 9.087-9.087 51.134 51.135-9.087 9.087zm70.828 31.441-51.134-51.135 9.087-9.087 51.135 51.134zm182.956-141.813-34.108 34.107-15.112-15.112 34.108-34.108 10.616-2.072 6.567 6.567z"/><path d="m461.708 61.236 50.629-50.629-10.608-10.606-50.628 50.628-30.863-30.863-40.426 40.426-64.73-2.954-87.263 87.262 140.016 140.016 33.254-33.241-10.605-10.608-22.646 22.639-118.806-118.806 71.978-71.977 54.48 2.487 61.837 61.837 2.486 54.479-38.731 38.73 10.607 10.606 43.409-43.41-2.952-64.701 40.439-40.439zm9.664 30.877-9.087 9.087-51.134-51.135 9.087-9.087zm-70.828-31.441 51.134 51.135-9.087 9.087-51.134-51.134z"/><path d="m186.469 429.434-42.659-1.942.682-14.984 36.05 1.642 8.583-8.583 10.607 10.606zm23.868-23.869-10.605-10.606 10.607-10.607 10.605 10.606zm21.215-21.213-10.607-10.606 10.606-10.606 10.607 10.606z"/></svg>
            <p>no appliance use for today</p>
          </div>
      </ng-template>

      </div>
    </div>
    
    <div class="flex flex-nowrap justify-center">
      <div class="container-other" style="margin-top: 15px">
        <div class="flex flex-column flex-nowrap items-stretch bord justify-start">
          <div>
            <p class="app-status"> Summary</p>
          </div>
          <div class="flex flex-row items-center justify-center icon-color" style="margin-top: 20px;" *ngIf = "summary.length">
            <div class="vert-line">
              <p class="text-color summary-size">Max</p>
              <p class="summary-size">{{ summary[0] }} W</p>
            </div>
            <div class="vert-line">
              <p class="text-color summary-size">Avg</p>
              <p class="summary-size">{{ summary[2] }} W</p>
            </div>
            <div>
              <p class="text-color summary-size">Min</p>
              <p class="summary-size">{{ summary[1] }} W</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="footer"></div>

</body>
</html>
