/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.btn btn-primary{
    margin-top: 3%;
    color: black;
}
.mat-calendar-body-cell-content.mat-calendar-body-selected{
    background-color: tomato !important;
  }
.btn-outline-own{background-color: transparent;
    color: #A1A884;
    border-color:#A1A884; 
    border-width: 3px;
    border-style: solid; 
    font-weight: bold; 
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 1em;
}
.btn-outline-own:hover{color:rgb(49, 49, 49);
    background-color:black;
    border-color:#A9D0EE;
    border-style: solid;
    border-radius: 15px;
}
/* .btn-outline-own.focus,.btn-outline-own:focus{box-shadow:0 0 0 .2rem #A1A884} */

.nav-link{
    color:white;
    border-color:#A9D0EE;
    font-weight: bold;
    font-size: 20px;
}

.nav-link:hover{color:#2C506B;
    background-color: #ffcb91;
    border-radius: 15px;
}
.nav-item{
    margin-top: 1em;
    margin-right: 1em;
}

html, body { height: 100%; }
/* body { margin: 0; font-family: "Yusei Magic", "Helvetica Neue", sans-serif; } */
ul{
    background-color: #5dbbb0;
    padding-bottom: 6px;
    font-family: "Yusei Magic";
}
