h1{
  font-size: 4rem; 
  font-weight: bolder;
  color:#2C506B;
  margin-top: 15px;
  margin-bottom: 15px;
  /* font-family: 'Corben', 'Yusei Magic'; */
}
body{
  background-color: #f6f6f4;
}
a{
  border-color: #A9D0EE; 
  margin: 10px;
}
p{
  color: #E4DDD4; 
  font-size: 20px; 
  font-weight: 5px;
  font-family: 'Yusei Magic', Arial;
}
input[type=checkbox] {
  transform: scale(2);
  margin: 10px;
  cursor: pointer;
  filter: hue-rotate(9.012rad)
}
.container-graph{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 450px;
  width: 700px;
  /* margin-left: 30px; */
  display: flex;
  flex-wrap: wrap;
}
.container-graph-left{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 450px;
  width: 700px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.app-status{
  background-color: #6ee4d6;
  color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  font-family: 'Yusei Magic', Arial;
  font-size: 1.4rem;
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
.row{
display: flex;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.items-stretch {
  align-items: stretch;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
  }
.column1 {
  width:750px !important;
  height:400px !important;
  padding: 15px !important;
}
.column2 {
width:500px !important;
height:500px !important;
padding-left: 30px !important;
padding-bottom: 30px !important;
}
.column3 {
width:600px !important;
height:400px !important;
padding-bottom: 30px !important;
padding-left: 30px !important;
}
.column4 {
width:600px !important;
height:400px !important;
padding-left: 30px !important;
padding-bottom: 30px !important;
}
.column {
width:800px !important;
height:500px !important;
padding-left: 20px !important;
padding-bottom: 30px !important;
}

.tm-section-2 {
  padding-top: 50px; 
  padding-bottom: 10px; 
  position: relative;
}
.text-center{
  text-align:center!important
}
.main_graph{
  display: block;
  margin: 0 auto;
  width: 500px; 
  height: 30%;
}
.form_style{
  margin-right: 10px;
  padding-right: 20px;
  margin-left: 10px;
}
.btn btn-primary{
  margin-top: 3%;
  color: black;
}
.btn-outline-own{color:#4e9e95;border-color:#5dbbb0; border-width: 3px; font-weight: bold; font-size: 20px;}
.btn-outline-own:hover{color:#4C5E6B;background-color:#ffcb91;border-color:#ffcb91}
/* .btn-outline-own.focus,.btn-outline-own:focus{box-shadow:0 0 0 .2rem #A9D0EE} */

mat-form-field {
margin-right: 20px;
}
