<html>
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Corben&family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- <div class="container"> -->
    <div class="text-center">
      <br />
      <h1>History</h1>

      <br />
      <ng *ngFor="let a of checkbox; index as i">
        <!-- <mat-checkbox [checked]="a.checked" (change)="toggleVisibility($event,i)">{{device_name[i]}}</mat-checkbox> -->

        <input
          type="checkbox"
          [(ngModel)]="a.checked"
          data-md-icheck
          (change)="toggleVisibility($event, i)"
        />

        {{ device_name[i] }}
      </ng>
    </div>
    <!-- </div> -->
    <br />
    <div class="text-center" style="margin-bottom: 15px">
      <mat-form-field>
        <mat-label>Date of Start</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="dob"
          [(ngModel)]="dateOfStart"
        />
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of end</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
          [(ngModel)]="dateOfEnd"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button (click)="sendDate()" class="btn-outline-own">Select</button>
    </div>

    <!-- <div class="row justify-content-md-center"> -->

    <div class="flex flex-row flex-nowrap items-stretch justify-center">
      <div class="container-graph justify-center">
        <div>
          <p class="app-status" style="width: 700px">Active Power</p>
        </div>
        <div class="column1">
          <canvas id="ActivelineChart"></canvas>
        </div>
      </div>
      <div class="container-graph-left justify-center">
        <div>
          <p class="app-status" style="width: 700px">Reactive Power</p>
        </div>
        <div class="column1">
          <canvas id="ReactivelineChart"></canvas>
        </div>
      </div>
    </div>

    <div
      class="flex flex-row flex-nowrap items-stretch justify-center"
      style="margin-top: 15px"
    >
      <div class="container-graph justify-center">
        <div>
          <p class="app-status" style="width: 700px">Frequency(24-Hr)</p>
        </div>
        <div class="column1">
          <canvas id="freqchart"></canvas>
        </div>
      </div>
      <div class="container-graph-left justify-center">
        <div>
          <p class="app-status" style="width: 700px">Duration</p>
        </div>
        <div class="column1">
          <canvas id="durationchart"></canvas>
        </div>
      </div>
    </div>

    <!-- <div class="row justify-content-md-center">
    <div class="column1">
      <canvas id="freqchart"></canvas>
    </div>
    <div class="column">
      <canvas id="durationchart"></canvas> 
    </div>
  </div> -->
  </body>
</html>
